<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212902083455-9pcc2ih4kdafs3pr3cetofnl867gcl13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212902083455-9pcc2ih4kdafs3pr3cetofnl867gcl13</string>
	<key>API_KEY</key>
	<string>AIzaSyCanQJyIqzE06MZq5HztyaCTWDBVTgLcOE</string>
	<key>GCM_SENDER_ID</key>
	<string>212902083455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chetanBhagat</string>
	<key>PROJECT_ID</key>
	<string>chetanbhagat-959d6</string>
	<key>STORAGE_BUCKET</key>
	<string>chetanbhagat-959d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212902083455:ios:4e58881dd99ad47292b84a</string>
</dict>
</plist>